__pycache__
*.txt
bronkhorstControlbm31/__pycache__
bronkhorstControlbm31.egg-info
mySocket.py
mySocketClient.py
pollDF.dat
dfplottest.py
bronkhorstControlbm31/tmpdf2.dat
dist
testClient.py
testServer.py
build
*.docx
bronkhorst_control_modes.png
timeTest.py
*.png